<div class="2xl:container 2xl:mx-auto lg:py-16 lg:px-20 md:py-12 md:px-6 py-9 px-4">
            <div class="flex flex-col lg:flex-row justify-between gap-8">
                <div class="w-full lg:w-5/12 flex flex-col justify-center">
                    <h1 class="text-3xl lg:text-4xl font-bold leading-9 text-gray-800 dark:text-black pb-4">About Us</h1>
                    <p class="font-normal text-base leading-6 text-gray-600 dark:text-black">
                        The Gamelist is a videogame database application which offers an easy and comprehensive way to access information on your favorite games.
                        With a user-friendly interface, you can search for games by title, platform, genre, and more. Using the Latest Video Game World News API, our database is constantly updated with the latest releases, so you'll never miss a new game.
                        You can also create a personal profile to keep track of your own collection, as well as rate and review games.
                        Our application also includes a social aspect, where you can connect and interact with other gamers. Whether you're a casual player or a hardcore fan, our application has something for everyone.</p>
                </div>
                <div class="w-full lg:w-8/12">
                    <img class="w-full h-full" src="/assets/img/videogames.jpg" alt="Videogames" />
                </div>
            </div>
            <div class="flex lg:flex-row flex-col justify-between gap-8 pt-12">
                <div class="w-full lg:w-5/12 flex flex-col justify-center">
                    <h1 class="text-3xl lg:text-4xl font-bold leading-9 text-gray-800 dark:text-black pb-4">Our Story</h1>
                    <p class="font-normal text-base leading-6 text-gray-600 dark:text-black">
                       We are a group of South Florida students which came together through the <a href="https://bootcamp.miami.edu/" class="underline"> University of Miami Coding Bootcamp</a> to develop this appplication.
                    </p>
                </div>
                <div class="w-full lg:w-8/12 lg:pt-8">
                    <div class="grid md:grid-cols-4 sm:grid-cols-2 grid-cols-1 lg:gap-4 shadow-lg rounded-md">
                        <div class="p-4 pb-6 flex justify-center flex-col items-center">
                            <a href="https://github.com/Barrerse">
                            <img class="md:block hidden" src="/assets/img/01.png" alt="Sebastians PFP" />
                            <img class="md:hidden block" src="/assets/img/01.png" alt="Sebastians PFP" />
                            <p class="font-medium text-xl leading-5 text-gray-800 dark:text-black mt-4">Sebastian Barrera</p>
                            </a>
                        </div>
                        <div class="p-4 pb-6 flex justify-center flex-col items-center">
                              <a href="https://github.com/cl-czayas">
                            <img class="md:block hidden" src="/assets/img/02.png" alt="Christopher PFP" />
                            <img class="md:hidden block" src="/assets/img/02.png" alt="Christopher PFP" />
                            <p class="font-medium text-xl leading-5 text-gray-800 dark:text-black mt-4">Christopher Cristóbal</p>
                            </a>
                        </div>
                        <div class="p-4 pb-6 flex justify-center flex-col items-center">
                            <a href="https://github.com/almoral323">
                            <img class="md:block hidden" src="/assets/img/03.png" alt="Alfredos PFP" />
                            <img class="md:hidden block" src="/assets/img/03.png" alt="Alfredos PFP" />
                            <p class="font-medium text-xl leading-5 text-gray-800 dark:text-black mt-4">Alfredo Morales</p>
                            </a>
                        </div>
                        <div class="p-4 pb-6 flex justify-center flex-col items-center">
                            <a href="https://github.com/MartinCespedes">
                            <img class="md:block hidden" src="/assets/img/04.jpg" alt="Martins PFP" />
                            <img class="md:hidden block" src="/assets/img/04.jpg" alt="Martins PFP" />
                            <p class="font-medium text-xl leading-5 text-gray-800 dark:text-black mt-4">Martin Cespedes</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>